

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
}

body
{
    background-color: #f5efe6;
    color: #4c4c4c;
    font-family: 'Quattrocento Sans', Arial, sans-serif;
}

h1, h2
{
    font-family: 'Cabin', Trebuchet MS, sans-serif;
}

h1
{
    color:aliceblue;
    font-size: 4em;
}

h2
{
    color: #B94A48;
    font-size: 1.5em;
    font-weight: 500;
}

h3{
    color:black;
}

p
{
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.page
{
    background-color: #ffffff;
    max-width: 1000px;
    margin: 1% auto;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 5px;
    padding-top: 0%;
    height: auto;
    min-height: 10%;
    padding-bottom: 0%;
    
}
#row
{
    background-color:background: rgba(17,84,146,1);
    background: -moz-linear-gradient(left, rgba(17,84,146,1) 0%, rgba(17,84,146,1) 17%, rgba(15,68,128,1) 49%, rgba(31,121,223,1) 97%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(17,84,146,1)), color-stop(17%, rgba(17,84,146,1)), color-stop(49%, rgba(15,68,128,1)), color-stop(97%, rgba(31,121,223,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(left, rgba(17,84,146,1) 0%, rgba(17,84,146,1) 17%, rgba(15,68,128,1) 49%, rgba(31,121,223,1) 97%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(left, rgba(17,84,146,1) 0%, rgba(17,84,146,1) 17%, rgba(15,68,128,1) 49%, rgba(31,121,223,1) 97%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(17,84,146,1) 0%, rgba(17,84,146,1) 17%, rgba(15,68,128,1) 49%, rgba(31,121,223,1) 97%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to right, rgba(17,84,146,1) 0%, rgba(17,84,146,1) 17%, rgba(15,68,128,1) 49%, rgba(31,121,223,1) 97%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#115492', endColorstr='#207ce5', GradientType=1 );;
    max-width: 1000px;
    margin: 3% auto;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 5px;
    padding-top: 3%;
    height: auto;
    min-height: 10%;
    padding-bottom: 3%;
}
div.page3
{
    background-color: #ffffff;
    max-width:1000px;
    margin: 3% auto;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 5px;
    padding-top: 1%;
    height: auto;
    min-height: 10%;
    padding-bottom: 1px;
}

.lesson
{
    
    padding-bottom: 10px;
}

.img-wrap
{
    width: 23%;
    margin-left: auto;
    margin-right: auto;
}

.play-img
{
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.509804) 0%, rgba(0, 0, 0, 0.490196) 100%) , url('../images/dashboard.png');
    background-position: 0% 0%;
    height: 90px;
    background-size: 300%;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

.play-img-2
{
    background-position: 30% 10%;
}
.play-img-3
{
    background-position: 15% 1%;
}
.play-img-4
{
    background-position: 100% 10%;
}
.play-img-5
{
    background-position: 0% 70%;
}
.play-img-6
{
    background-position:90% 70%;
}
.play-img-7
{
    background-position: 0% 3%;
}
.play-img-8
{
    background-position: 5% 1%;
}
.play-img-9
{
    background-position: 20% 1%;
}
.play-img-10
{
    background-position: 1% 75%;
}
.play-img-11
{
    background-position: 100% 10%;
}
.play-img-12
{
    background-position: 100% 70%;
}
.play-img-13
{
    background-position: 0% 0%;
}
.play-img-14
{
    background-position: 30% 0%;
}

.play-btn
{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color: #71b356;
    background-color: #ffffff;
    top: 25%;
    font-size: 40px;
    border: none;
    left: 30%;
    text-align: center;
    line-height: 1.2;
    padding-left: 4px;
}


#videogallery { zoom:1; }
#videogallery span{ display:block; }
#videogallery a{
display:-moz-inline-stack;
display:inline-block;
zoom:1;
*display:inline;
position:relative;
vertical-align:top;
margin:5px;
text-align:center;
opacity:0.87;
}
#videogallery a img{
display:block;
border:none;
margin:0;
}
#videogallery a:hover{
text-decoration:underline;
opacity:1;
}
#videogallery a#videolb{display:none}
