

h1
{
    text-align: center;
    color: #4c4c4c;
    font-size: 2em;
    font-family: 'Cabin', Georgia, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 20px auto 10px;
}

h2
{
    color: #B94A48;
    font-size: 1.5em;
    font-family: 'Cabin', Georgia, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    margin: 20px 0 5px;
}

h3
{
    border-bottom: 1px solid #ded7c8;
    color: #aa9c84;
    font-size: 1.2em;
    font-family: 'Quattrocento Sans', Arial, sans-serif;
    font-weight: normal;
    margin: 0 auto 30px;
    padding-bottom: 20px;
    text-align: center;
}

.sheet {
    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 0 6px rgba(88,77,55,0.4);
    -o-box-shadow: 0 0 6px rgba(88,77,55,0.4);
    -moz-box-shadow: 0 0 6px rgba(88,77,55,0.4);
    -webkit-box-shadow: 0 0 6px rgba(88,77,55,0.4);
    zoom: 1;
    background-color: white;
    padding: 15px;
    
    margin-bottom: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    margin: 0 10px 20px;
    padding: 0 20px;
    width: 300px;
}

.sheets
{
    width: 100%;
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid
{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.sheet-img
{
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.509804) 0%, rgba(0, 0, 0, 0.490196) 100%) , url('../images/dashboard.png');
    background-position: 0% 0%;
    height: 150px;
    width: 100%;
    background-size: 300%;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

.play-btn
{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color: #71b356;
    background-color: #ffffff;
    top: 30%;
    font-size: 40px;
    border: none;
    left: 40%;
    text-align: center;
    line-height: 1.2;
    padding-left: 4px;
}

.sheet-img-2
{
    background-position: 30% 10%;
}

.sheet-img-3
{
    background-position: 20% 0%;
}

.sheet-img-4
{
    background-position: 100% 10%;
}

.sheet-img-5
{
    background-position: 0% 80%;
}

.sheet-img-6
{
    background-position: 90% 70%;
}

